In [1]:
ls

 Volume in drive C has no label.
 Volume Serial Number is E2A6-39CF

 Directory of C:\Users\hp\Desktop\Milestone\dsc-phase-1-project\zippedData

11/03/2023  04:26 AM    <DIR>          .
11/03/2023  04:26 AM    <DIR>          ..
11/03/2023  04:26 AM    <DIR>          .ipynb_checkpoints
10/31/2023  07:21 PM            53,544 bom.movie_gross.csv.gz
10/31/2023  07:21 PM        18,070,960 imdb.name.basics.csv.gz
10/31/2023  07:21 PM         5,599,979 imdb.title.akas.csv.gz
10/31/2023  07:21 PM         3,459,897 imdb.title.basics.csv.gz
10/31/2023  07:21 PM         1,898,523 imdb.title.crew.csv.gz
10/31/2023  07:21 PM        12,287,583 imdb.title.principals.csv.gz
10/31/2023  07:21 PM           539,530 imdb.title.ratings.csv.gz
11/03/2023  04:23 AM         7,190,227 my project_Allan_Omollo .ipynb
11/02/2023  07:40 PM         7,186,164 my project_Allan_Omollo.ipynb
11/02/2023  07:46 PM         7,186,164 mY projo.ipynb
10/31/2023  07:21 PM           498,202 rt.movie_info.tsv.gz
10/31/2023  07:21 PM         3,402,194 rt.reviews.tsv.gz
10/31/2023  07:21 PM           827,840 tmdb.movies.csv.gz
10/31/2023  07:21 PM           153,218 tn.movie_budgets.csv.gz
10/31/2023  08:03 PM             2,137 Untitled.ipynb
10/31/2023  08:22 PM             4,507 Untitled1.ipynb
11/03/2023  04:26 AM                72 Untitled2.ipynb
              17 File(s)     68,360,741 bytes
               3 Dir(s)  22,130,409,472 bytes free

In [14]:
import pandas as pd
df=pd.read_csv("imdb.title.basics.csv.gz")
columns=df.columns.tolist()
columns

['tconst',
 'primary_title',
 'original_title',
 'start_year',
 'runtime_minutes',
 'genres']

In [15]:
df.head()

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"

In [17]:
df.genres.unique()

array(['Action,Crime,Drama', 'Biography,Drama', 'Drama', ...,
       'Music,Musical,Reality-TV', 'Animation,Crime',
       'Adventure,History,War'], dtype=object)

In [18]:
df.isna().sum()

tconst                 0
primary_title          0
original_title        21
start_year             0
runtime_minutes    31739
genres              5408
dtype: int64